<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/default/default.css">
    <title>Document</title>
</head>
<body>
    <h1>Recent Blog Posts</h1>
    <!-- <% for(let i = 0; i < posts.length; i++) { %>
        <article>
            <h2><%= posts[i].title %></h1>
            <p><%= posts[i].description %></p>
        </article>
    <% } %> -->
    <%posts.forEach((post, index)=>{  %>
        <h2><%= post.title %></h2>
        <p><%= post.description%></p>
        <a href="/teste2/<%=post.id %>">Abrir conteúdo</a>
    <% }) %>
</body>
</html>