<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="script/default/header/date-picker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtJGza4SniYHefeNwCdE4gU3sg1AU4fiU&&libraries=places"></script>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="style/default/default.css">
  <link rel="stylesheet" href="style/search-spaces/search.css">
</head>

<body>
  <header id="header" class="container_margin_default">
    <div class="default_margin">
      <a href="/"> <img src="images/default/logo.svg" alt="logo"> </a>
      <div id="container_search">
        <ul id="type_office">
          <li class="option_office checked">Espaço adaptado</li>
          <li class="option_office">Espaço corporativo</li>
        </ul>
        <div class="container_search_input">
          <form action="/encontrar-espacos" method="post">
            <span id="search_txt">Pesquise locais para trabalhar</span>
            <div id='container_informations_find_coworking'>
              <div class="gap_input_checked">
                <input id="search_input" class="booking_informations" type="text" name="localizacao" placeholder="Localização:">
              </div>
              <div class="gap_input_checked" id="container_reservation">
                <div class="booking_informations booking_informations_user input_checked" id="reservation">
                  <div>
                    <input type="text" placeholder="Check-in" id="dateFrom" name="dateFrom" autocomplete="off" value="">
                    <hr>
                    <input type="text" placeholder="Check-out" id="dateTo" name="dateTo" autocomplete="off" value="">
                  </div>
                </div>
                <div class="popUp_input teste5">
                  <div>
                    <div id="from" class="teste"></div>
                    <div id="to" class="teste"></div>
                  </div>
                  <span>
                    Dias reservados:
                    <input type="number" value="" name="reserved_days" id="reserved-days" disabled>
                  </span>
                </div>
              </div>
              <div class="gap_input_checked">
                <span class="booking_informations booking_informations_user">N° de Pessoas</span>
                <div id="container-guests" class="popUp_input">
                  <div id="guests">
                    <h5>N° de pessoas</h5>
                    <div class="specification">
                        <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                      <input type="number" min="0" value="4" name="people">
                        <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit">
              <img src="images/default/search.svg" alt="pesquisa">
            </button>
          </form>
        </div>
      </div>

      <div id="menu">
        <div id='menu_sign-in-up'>
          <img src="images/default/user.svg" alt="usuário">
          <img src="images/default/menu_hamburguer.svg" alt="menu">
        </div>
        <%
                if(autenticado){
            %>
        <%- include('../../partial/header/menu_autenticado.ejs'); %>
        <%       
            }else{
            %>
        <%- include('../../partial/header/menu.ejs'); %>
        <%
            } 
          %>
      </div>
    </div>
    <div id="container_popUp_login-signUp">
      <div class="popUp">
        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
        <h2>Umbrella Officing</h2>
        <h3>Seja bem-vindo</h3>
        <div>
          <span>Faça seu login para continuar</span>
          <form method="post" action="/login">
            <label for="cpf-email">
              CPF ou E-mail :
              <input type="text" id="cpf-email" name="cpfEmail">
            </label>

            <label for="password-login">
              Senha:
              <input type="password" id="password-login" name="password">
            </label>

            <div>
              <a href="#">Esqueceu a senha?</a>
            </div>

            <button class="form_button" type="submit">LOGIN</button>
          </form>
          <div id="alternatives">
            <div><span>OR</span></div>
            <div>
              <span>Faça login com suas Redes Sociais</span>
              <img src="images/default/icon-google.png" alt="ícone do google">
              <img src="images/default/icon-facebok.svg" alt="ícone do facebbok">
              <img src="images/default/icon-apple.png" alt="ícone do facebbok">
              <span>Ainda não possui conta? <a href="#">Cadastre-se</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="popUp">
        <img class="close_popup" src="images/default/close_icon.svg" alt="close">
        <h2>Umbrella Officing</h2>
        <h3>Seja bem-vindo</h3>
        <div>
          <span>Cadastre-se e faça parte da nossa comunidade</span>
          <form id="myform" method="post" action="/cadastro">
            <fieldset id="test1" class="test">
              <label for="name">
                Nome:
                <input type="text" id="name" name="name">
              </label>
              <label for="email">
                E-mail:
                <input type="email" id="email" name="email">
              </label>

              <label for="cpf">
                CPF:
                <input type="text" id="cpf" name="cpf">
              </label>

              <label for="password">
                Senha:
                <input type="password" id="password" name="password">
              </label>

              <label for="conf_password">
                Confirmar senha:
                <input type="password" class="form-control" id="conf_password" name="conf_password">
              </label>
              <input type="button" class="form_button next" value="Próximo">
            </fieldset>
            <fieldset id="test2" class="test campos">
              <label for="birth_date">
                Data de nascimento
                <input type="date" id="birth_date" name="birth_date" required>
              </label>
              <label for="phone">
                Telefone:
                <input type="text" id="phone" name="phone" required>
              </label>
              <label for="profession">
                Profissão:
                <input type="text" id="profession" name="profession" required>
              </label>
              <button class="form_button" type="submit">CADASTRAR</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div id="container_popUp_profilePicture">
      <div class="popUp_profilePicture">
        <h2>Adicionar imagem de perfil</h2>
        <div>
          <form action="/perfil2" method="post" enctype="multipart/form-data">
            <div class="actionPicture">
              <div>
                <%
                                if(autenticado){
                            %>
                <%if(autenticado.profile_picture != null){%>
                <img class="image_profile" src="data:image/gif;base64,<%=autenticado.profile_picture%>" alt="Foto de perfil">
                <%}%>
    
                                <%if(autenticado.profile_picture == null){%>
                <img class="image_profile" src="images/default/perfil.png" alt="Foto de perfil">
                <%}%>
                                
                            <%       
                            }else{
                            %>
                <img class="image_profile" src="images/default/perfil.png" alt="Foto de perfil">
                <%
                            } 
                            %>
              </div>
            </div>

            <div>
              <div class="uploadPicture">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                <label for="ImagemPerfil">
                  Carregar imagem
                </label>
                <input accept="image/" class="form-control" id="ImagemPerfil" name="ImagemPerfil" onchange="loadImg()" type="file" value="" />
              </div>
              <div class="deletePicture">
                <i class="fa-solid fa-trash"></i>
                <span>Remover imagem</span>
              </div>
              <div>
                <input id="close" type="button" value="Fechar">
                <button id="salve" type="submit">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <div id="bottom_bar-mobile">
    <%
              if(autenticado){
            %>
    <%- include('../../partial/header/bottom_bar-mobile_autenticado.ejs'); %>
    <%       
            }else{
            %>
    <%- include('../../partial/header/bottom_bar-mobile.ejs'); %>
    <%
            } 
          %>

    <div id="container_search-mobile">

      <img class="close_search" src="images/default/close_icon.svg" alt="close">

      <ul id="type_office_mobile">
        <li class="option_office checked">Espaço adaptado</li>
        <li class="option_office">Espaço corporativo</li>
      </ul>

      <form action="search-informations" method="post">
        <div id='container_adaptable'>
          <div class="box">
            <label name="search_input">Localização</label>
            <input type="text">
          </div>
          <div class="box">
            <label name="search_input">Selecione datas</label>

            <div class="box_check">
              <div>
                <label name="box_check-in">Check in</label>
                <input type="date" name="box_check-in">
              </div>
              <div>
                <label name="box_check-out">Check-out</label>
                <input type="date" name="box_check-out">
              </div>
            </div>
          </div>
          <div class="box">
            <label name="search_input">Número de pessoas</label>
            <div id="guests">
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="4" name="people" class="input_checked" disabled>
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </div>
          </div>

          <button class="search_mobile">Pesquisar</button>
        </div> 
      </form>
    </div> 
  </div>

  <div id='box_black'></div>

  <main>
    <section id="search_section1" class="container_margin_default">
      <div class="default_margin">
        <div id="box-mobile"> 
            <button id="view-maps">
              <i class="fa-solid fa-map-location-dot"></i>
              Mapa
            </button> 

            <button class="filter-mobile">
              <i class="fa-solid fa-filter"></i>
              Filtro
            </button>
        </div>

        <div id="search_section1_container">
          <div id="box">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29559.97195903697!2d-43.60314346788312!3d-22.164205465224082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x98d913ebf99553%3A0xa4247e08942606a9!2sRio%20das%20Flores%2C%20RJ%2C%2027660-000!5e0!3m2!1spt-BR!2sbr!4v1665024719600!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <button>Ver no mapa</button>
          </div>
          <div id="filter">
            <div class="margin_filter">
              <h3>Filtros</h3>
            </div>
            <div class="margin_filter gap">
              <div class="gap" id="price_input">
                <h5>Faixa de preço por hora</h5>
                <div>
                  <label for="min" class="price-input">
                    Mínimo
                    <input type="number" id="min" class="input-min" value="10" onkeypress="return event.charCode >= 48" min="1">
                  </label>
                  <label for="max" class="price-input">
                    Máximo
                    <input type="number" id="max" class="input-max" value="50" onkeypress="return event.charCode >= 48" min="1">
                  </label>
                </div>
                <div class="slider">
                  <div class="progress"></div>
                </div>
                <div class="range-input">
                  <input type="range" class="range-min" min="0" max="100" value="10">
                  <input type="range" class="range-max" min="0" max="100" value="50">
                </div>
              </div>
              <div id="amount-people" class="gap">
                <h5>N° de pessoas</h5>
                <div class="specification">
                  <button>
                    <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                  </button>
                  <input type="number" min="0" value="4" name="people" disabled>
                  <button>
                    <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                  </button>
                </div>
              </div>
              <div id="more_specifications">
                <h5>Especificações</h5>
                <ul>
                  <li class="specifications">
                    <div>
                      <img src="images/search-spaces/search/wi-fi.svg" alt="wi-fi">
                    </div>
                    <label for="wi-fi">Wi-fi</label>
                    <div class="select-box">
                      <div class="options-container">

                        <div class="option">
                          <input type="radio" class="radio" id="art" name="category" />
                          <label for="art">Baixa qualidade</label>
                        </div>

                        <div class="option">
                          <input type="radio" class="radio" id="music" name="category" />
                          <label for="music">Média qualidade</label>
                        </div>

                        <div class="option">
                          <input type="radio" class="radio" id="travel" name="category" />
                          <label for="travel">Alta qualidade</label>
                        </div>
                      </div>
                      <div class="selected">
                        Sinal do wi-fi
                      </div>
                    </div>
                  </li>
                  <li class="specifications">
                    <div>
                      <img src="images/search-spaces/search/computer.svg" alt="computador">
                    </div>
                    <label for="compurters">Computadores</label>
                    <div class="specification">
                      <button>
                        <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                      </button>
                      <input type="number" min="0" value="4" name="people" disabled>
                      <button>
                        <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                      </button>
                    </div>
                  </li>
                  <li class="specifications">
                    <div>
                      <img src="images/search-spaces/search/sockets.svg" alt="tomadas">
                    </div>
                    <label for="sockets">Tomadas</label>
                    <div class="specification">
                      <button>
                        <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                      </button>
                      <input type="number" min="0" value="4" name="people" disabled>
                      <button>
                        <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                      </button>
                    </div>
                  </li>
                </ul>
                <button id="openList">Mais...</button>
                <div id="additional-specifications">
                  <div>
                    <div>
                      <h2>Especificações</h2>
                      <ul id="list-add-specifications"></ul>
                      <button id="close_popUp">Concluir</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="margin_filter gap">
              <h5>Classificação</h5>
              <ul class="rating">
                <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
                <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
                <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
                <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
                <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
              </ul>
            </div>
            <div class="margin_filter gap">
              <ul id="adapted-environments">
                <h5>Ambientes Adaptados</h5>
                <li>
                  <div class="select-box">
                    <div class="options-container">
                      <div class="option">
                        <input type="radio" class="radio" id="automobiles" name="category" />
                        <label for="automobiles">Casa comum</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Microcasa</label>
                      </div>

                    </div>
                    <div class="selected">
                      Casas
                    </div>
                  </div>
                </li>
                <li>
                  <div class="select-box">
                    <div class="options-container">

                      <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Apartamento</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="science" name="category" />
                        <label for="science">Kitnet</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="art" name="category" />
                        <label for="art">Loft</label>
                      </div>
                    </div>
                    <div class="selected">
                      Apartamentos
                    </div>
                  </div>
                </li>
                <li>
                  <div class="select-box">
                    <div class="options-container">

                      <div class="option">
                        <input type="radio" class="radio" id="film" name="category" />
                        <label for="film">Container</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="science" name="category" />
                        <label for="science">Trailer/Motorhome</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="art" name="category" />
                        <label for="art">Edícula</label>
                      </div>

                      <div class="option">
                        <input type="radio" class="radio" id="music" name="category" />
                        <label for="music">Garagem</label>
                      </div>
                    </div>
                    <div class="selected">
                      Unidades à parte
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="margin_filter gap">
              <ul id="corporate_environments">
                <h5>Ambientes corporativos</h5>
                <li>
                  <label for="office">
                    Escritório
                    <input type="checkbox" id="office">
                  </label>
                </li>
                <li>
                  <label for="coworking">
                    Coworking
                    <input type="checkbox" id="coworking">
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="spaces-avaliable">
          <ul>
            <a href="/descricao-do-officing">
              <li>
              <div class="rooms-available-container">
                <div class="img-space">
                  <img src="/images/search-spaces/search/image1-search.png" alt="ilustração do local">
                  <button id="share"><i class="fa-solid fa-share"></i></button>
                </div>
                <div class="officing-description">
                  <span id="t">
                    Apartamento adaptado
                    <button id="favorite"><i class="fa-sharp fa-solid fa-heart"></i></i></button>
                  </span>

                  <div id="description">
                    <h4>Escritório Lape</h4>
                    <span><strong>2 salas disponíveis</strong> | 1 banheiro</span>
                    <span id="d">Perto de: Shopping Esperança e Parque Muncipal da Cunha e
                      Costa</span>
                  </div>
                  <div id="price-space">

                    <div class="align-price">
                      <span>Melhor preço:</span>
                      <strong>R$:15/hora</strong>
                    </div>

                    <div>
                      <span><img src="images/search-spaces/officing-description/background-star.png" alt="estrela">4.8
                        | <img src="images/search-spaces/officing-description/baloes-de-fala.png" alt="chat">12
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            </a>

            <li>
              <div class="rooms-available-container">
                <div class="img-space">
                  <img src="/images/search-spaces/search/image2-search.png" alt="ilustração do local">
                  <button id="share"><i class="fa-solid fa-share"></i></button>
                </div>
                <div class="officing-description">
                  <span id="t">
                    Apartamento adaptado
                    <button id="favorite"><i class="fa-sharp fa-solid fa-heart"></i></i></button>
                  </span>

                  <div id="description">
                    <h4>Escritório Engenho Novo</h4>
                    <span><strong>2 salas disponíveis</strong> | 1 banheiro</span>
                    <span id="d">Perto de: Mc Donald's</span>
                  </div>
                  <div id="price-space">

                    <div class="align-price">
                      <span>Melhor preço:</span>
                      <strong>R$:15/hora</strong>
                    </div>

                    <div>
                      <span><img src="images/search-spaces/officing-description/background-star.png" alt="estrela">4.8
                        | <img src="images/search-spaces/officing-description/baloes-de-fala.png" alt="chat">12
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="rooms-available-container">
                <div class="img-space">
                  <img src="/images/search-spaces/search/image3-search.png" alt="ilustração do local">
                  <button id="share"><i class="fa-solid fa-share"></i></button>
                </div>
                <div class="officing-description">
                  <span id="t">
                    Casa adaptada
                    <button id="favorite"><i class="fa-sharp fa-solid fa-heart"></i></i></button>
                  </span>

                  <div id="description">
                    <h4>Escritório Acqua</h4>
                    <span><strong>3 salas disponíveis</strong> | 1 banheiro</span>
                    <span id="d">Perto de: Shopping Tamboré</span>
                  </div>
                  <div id="price-space">

                    <div class="align-price">
                      <span>Melhor preço:</span>
                      <strong>R$:15/hora</strong>
                    </div>

                    <div>
                      <span><img src="images/search-spaces/officing-description/background-star.png" alt="estrela">4.8
                        | <img src="images/search-spaces/officing-description/baloes-de-fala.png" alt="chat">12
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="rooms-available-container">
                <div class="img-space">
                  <img src="/images/search-spaces/search/image4-search.png" alt="ilustração do local">
                  <button id="share"><i class="fa-solid fa-share"></i></button>
                </div>
                <div class="officing-description">
                  <span id="t">
                    Apartamento adaptado
                    <button id="favorite"><i class="fa-sharp fa-solid fa-heart"></i></i></button>
                  </span>

                  <div id="description">
                    <h4>Escritório Luna</h4>
                    <span><strong>3 salas disponíveis</strong> | 1 banheiro</span>
                    <span id="d">Perto de: Centro de Barueri</span>
                  </div>
                  <div id="price-space">

                    <div class="align-price">
                      <span>Melhor preço:</span>
                      <strong>R$:18/hora</strong>
                    </div>

                    <div>
                      <span><img src="images/search-spaces/officing-description/background-star.png" alt="estrela">4.8
                        | <img src="images/search-spaces/officing-description/baloes-de-fala.png" alt="chat">12
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li> 
          </ul>
        </div>
      </div>
    </section>
  </main>

  <div id="container_popUp-filter">
    <div id="popUp-filter">
      <div class="margin_filter">
        <img id="close-filter" src="images/default/close_icon.svg" alt="Fechar">
        <h3>Filtros</h3>
      </div>
      <div class="margin_filter gap">
        <div class="gap" id="price_input">
          <h5>Faixa de preço por hora</h5>
          <div>
            <label for="min" class="price-input">
              Mínimo
              <input type="number" id="min" class="input-min" value="10" onkeypress="return event.charCode >= 48" min="1">
            </label>
            <label for="max" class="price-input">
              Máximo
              <input type="number" id="max" class="input-max" value="50" onkeypress="return event.charCode >= 48" min="1">
            </label>
          </div>
          <div class="slider">
            <div class="progress"></div>
          </div>
          <div class="range-input">
            <input type="range" class="range-min" min="0" max="100" value="10">
            <input type="range" class="range-max" min="0" max="100" value="50">
          </div>
        </div>
        <div id="amount-people" class="gap">
          <h5>N° de pessoas</h5>
          <div class="specification">
            <button>
              <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
            </button>
            <input type="number" min="0" value="4" name="people" disabled>
            <button>
              <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
            </button>

          </div>
        </div>
        <div id="more_specifications">
          <h5>Especificações</h5>
          <ul>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/wi-fi.svg" alt="wi-fi">
              </div>
              <label for="wi-fi">Wi-fi</label>
              <div class="select-box">
                <div class="options-container">

                  <div class="option">
                    <input type="radio" class="radio" id="art" name="category" />
                    <label for="art">Baixa qualidade</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="music" name="category" />
                    <label for="music">Média qualidade</label>
                  </div>

                  <div class="option">
                    <input type="radio" class="radio" id="travel" name="category" />
                    <label for="travel">Alta qualidade</label>
                  </div>
                </div>
                <div class="selected">
                  Sinal do wi-fi
                </div>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/computer.svg" alt="computador">
              </div>
              <label for="compurters">Computadores</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="4" name="people" disabled>
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/sockets.svg" alt="tomadas">
              </div>
              <label for="sockets">Tomadas</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="4" name="people" disabled>
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/chair.png" alt="Cadeiras">
              </div>
              <label for="Chair">Cadeiras</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="5" name="Chair" disabled="">
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/table.png" alt="Mesas">
              </div>
              <label for="Table">Mesas</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="8" name="Table" disabled="">
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/window.png" alt="Janelas">
              </div>
              <label for="Window">Janelas</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="3" name="Window" disabled="">
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>
            <li class="specifications">
              <div>
                <img src="images/search-spaces/search/air-conditioning.png" alt="Ar condicionado">
              </div>
              <label for="air-conditioning">Ar condicionado</label>
              <div class="specification">
                <button>
                  <img class="subtract" src="images/search-spaces/search/subtract.png" alt="subtrair">
                </button>
                <input type="number" min="0" value="2" name="air-conditioning" disabled="">
                <button>
                  <img class="addition" src="images//search-spaces/search/button-add.png" name="addition" alt="adicionar">
                </button>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="margin_filter gap">
        <h5>Classificação</h5>
        <ul class="rating">
          <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
          <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
          <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
          <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
          <li><img class="star" src="images/search-spaces/search/star.png" alt="estrela"></li>
        </ul>
      </div>
      <div class="margin_filter gap">
        <ul id="adapted-environments">
          <h5>Ambientes Adaptados</h5>
          <li>
            <div class="select-box">
              <div class="options-container">
                <div class="option">
                  <input type="radio" class="radio" id="automobiles" name="category" />
                  <label for="automobiles">Casa comum</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="film" name="category" />
                  <label for="film">Microcasa</label>
                </div>

              </div>
              <div class="selected">
                Casas
              </div>
            </div>
          </li>
          <li>
            <div class="select-box">
              <div class="options-container">

                <div class="option">
                  <input type="radio" class="radio" id="film" name="category" />
                  <label for="film">Apartamento</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="science" name="category" />
                  <label for="science">Kitnet</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="art" name="category" />
                  <label for="art">Loft</label>
                </div>
              </div>
              <div class="selected">
                Apartamentos
              </div>
            </div>
          </li>
          <li>
            <div class="select-box">
              <div class="options-container">

                <div class="option">
                  <input type="radio" class="radio" id="film" name="category" />
                  <label for="film">Container</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="science" name="category" />
                  <label for="science">Trailer/Motorhome</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="art" name="category" />
                  <label for="art">Edícula</label>
                </div>

                <div class="option">
                  <input type="radio" class="radio" id="music" name="category" />
                  <label for="music">Garagem</label>
                </div>
              </div>
              <div class="selected">
                Unidades à parte
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="margin_filter gap">
        <ul id="corporate_environments">
          <h5>Ambientes corporativos</h5>
          <li>
            <label for="office">
              Escritório
              <input type="checkbox" id="office">
            </label>
          </li>
          <li>
            <label for="coworking">
              Coworking
              <input type="checkbox" id="coworking">
            </label>
          </li>
        </ul>
      </div>
      <div class="margin_filter gap">
        <button id="find_space">Encontrar officing</button>
        </ul>
      </div>
    </div>
  </div>

  <footer class="container_margin_default">
    <%- include('../../partial/footer.ejs')%>
  </footer>
  

  <script src="https://kit.fontawesome.com/e4e1096c30.js" crossorigin="anonymous"></script> 
  <script src="script/default/header/header.js"></script>
  <script src="script/default/register/register.js"></script>
  <script src="script/default/header/autocomplete_api.js"></script>
  <script src="script/search-spaces/search/popUp-filter.js"></script>
  <script src="script/search-spaces/search/range.js"></script>
  <script src="script/search-spaces/search/specification-value.js"></script>
  <script src="script/search-spaces/search/rating.js"></script>
  <script src="script/search-spaces/search/select-options.js"></script>

</body> 

</html>